<!-- Page for searching trains -->
<html>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" media="all" />
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
  <body>
    <script>
    $( function() {
      var dateFormat = "mm/dd/yy",
        date = $( "#date" ).datepicker({
            minDate: 1,
            maxDate: 7,
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1
          })
          .datepicker("setDate", new Date());
        });
    </script>
    <form action="/search-controller" method="post" enctype="application/x-www-form-urlencoded">
      <fieldset>
         <label for="from">From City:</label>
         <input type="text" id="from" name="from" value=<%= session.data.from_city %> required/>
         <br>
         <label for="to">To City:</label>
         <input type="text" id="to" name="to" value=<%= session.data.to_city %> required/>
         <br>
         <label for="date">Date:</label>
         <input type="text" id="date" name="date" value=<%= session.data.from_date %> required/>
         <br>
         <label for="classtype">Class:</label>
         <select id="classtype" name="classtype">
           <option>AC 3-tier</option>
           <option>Non-AC 3-tier</option>
           <option>General</option>
           <option>Sleeper</option>
         </select>
         <label for="seats">No. of seats:</label>
         <input type="number" id="seats" name="seats" value=<%= session.data.num_of_seats %> min="1" step="1" required/>
         <br>
         <input type="submit" value="Search Trains"/>
      </fieldset>
    </form>

    <script type="text/javascript">
      function reply_click(clicked_id){
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/book-tickets');
        form.setAttribute('enctype', 'application/x-www-form-urlencoded');
        form.setAttribute('style.display', 'hidden');
        var input = document.createElement('input');
        input.setAttribute('name', "train_num");
        input.setAttribute('id', "train_num");
        input.setAttribute('value', clicked_id);
        input.setAttribute('type', 'hidden');
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
      }
    </script>

    <br><br>
    Selected class: <%= session.data.class_type %><br>
    No. of seats  : <%= session.data.num_of_seats %><br>
    From : <%= session.data.from_city %><br>
    To : <%= session.data.to_city %><br>

    <% if(session.search_error!=null){ %>
      <%= session.search_error.error %>
    <% } else{ %>
    <table id="results" border=1>
      <thead>
        <tr>
          <th>Train No.</th>
          <th>Train Name</th>
          <th>Departure</th>
          <th>Reach At</th>
          <th>Fare per seat</th>
          <th>Total Fare</th>
          <th>Book now</th>
        </tr>
      </thead>
      <tbody>
        <% session.data.trains.forEach(function (train) { %>
          <tr>
            <td><%= train.num %></td>
            <td><%= train.name %></td>
            <td><%= train.from_time %></td>
            <td><%= train.to_time %></td>
            <td><%= train.fare_per_person %></td>
            <td><%= train.total_fare %></td>
            <td><button onclick="reply_click(this.id)" id=<%= train.num %> >Book now</td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %>
  </body>
</html>
