<!-- Page for searching trains -->
<html>
  <body>
    <form action="/search-controller" method="post" enctype="application/x-www-form-urlencoded">
      <fieldset>
         <label for="from">From City:</label>
         <input type="text" id="from" name="from" placeholder="From" />
         <br>
         <label for="to">To City:</label>
         <input type="text" id="to" name="to" placeholder="To" />
         <br>
         <label for="classtype">Class:</label>
         <select id="classtype" name="classtype">
           <option>AC 3-tier</option>
           <option>Non-AC 3-tier</option>
           <option>General</option>
           <option>Sleeper</option>
         </select>
         <label for="seats">No. of seats:</label>
         <input type="text" id="seats" name="seats" placeholder="1" />
         <br>
         <input type="submit" value="Search Trains"/>
      </fieldset>
    </form>
    <br><br>
    Selected class: <%= class_type %><br>
    No. of seats  : <%= num_of_seats %><br>
    From : <%= from_city %><br>
    To : <%= to_city %>
    <table id="results" border=1>
      <thead>
        <tr>
          <th>Train No.</th>
          <th>Train Name</th>
          <th>Departure</th>
          <th>Reach At</th>
          <th>Fare per seat</th>
          <th>Total Fare</th>
          <th>Book now</th>
        </tr>
      </thead>
      <tbody>
        <% trains.forEach(function (train) { %>
          <tr>
            <td><%= train.num %></td>
            <td><%= train.name %></td>
            <td><%= train.from_time %></td>
            <td><%= train.to_time %></td>
            <td><%= train.fare_per_person %></td>
            <td><%= train.total_fare %></td>
            <td><button type="submit">Book now</td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
